In [27]:
import pandas as pd
import numpy as np

In [2]:
from scipy import stats

In [70]:
from math import sqrt

In [4]:
pwd()

'C:\\Users\\saloni'

In [7]:
d=pd.read_csv("C:/Users/saloni/Downloads/Hypothesis.csv")

In [9]:
d.head()

,Unnamed: 0,Surname,Name,Age,Gender,Country,Start_date,Department,Position,Salary,Unnamed: 10
0,NaN,Sweetwater,Alex,51,Male,United States,8/15/2011,Software Engineering,Software Engineering Manager,"$56,160.00",#REF!
1,NaN,Carabbio,Judith,30,Female,United States,11/11/2013,Software Engineering,Software Engineer,"$116,480.00",#REF!
2,NaN,Saada,Adell,31,Female,United States,11/5/2012,Software Engineering,Software Engineer,"$102,440.00",#REF!
3,NaN,Szabo,Andrew,34,Male,United States,7/7/2014,Software Engineering,Software Engineer,"$99,840.00",#REF!
4,NaN,Andreola,Colby,38,Female,United States,11/10/2014,Software Engineering,Software Engineer,"$99,008.00",#REF!

In [216]:
dm1=d[d["Gender"]=="Male"]

In [217]:
df1=d[d["Gender"]=="Female"]

In [362]:
dm=dm1.sample(n=15)

In [363]:
df=df1.sample(n=15)

In [364]:
dm['Salary']=dm['Salary'].str.replace(r'\D','')

In [365]:
df['Salary']=df['Salary'].str.replace(r'\D','')

In [394]:
#applying 2-sample t-test

## calculate means

In [366]:
mean1 = dm['Salary'].astype(float).mean()

In [367]:
mean1

6804234.666666667

In [368]:
mean2 = df['Salary'].astype(float).mean()

In [369]:
mean2

5627925.333333333

## calculate standard errors

In [370]:
sem=stats.sem(dm['Salary'].astype(float))

In [371]:
sem

775975.7727574616

In [372]:
sef=stats.sem(df['Salary'].astype(float))

In [373]:
sef

659811.448436212

In [374]:
# standard error on the difference between the samples

In [375]:
sed = sqrt(sem**2.0 + sef**2.0)

In [376]:
sed

1018572.3083777763

In [377]:
# calculate the t statistic

In [378]:
t_stat=(mean1-mean2)/sed

In [379]:
t_stat

1.1548609005547938

In [380]:
n1=len(dm)

In [381]:
n1

15

In [382]:
n2=len(df)

In [383]:
n2

15

In [384]:
# degrees of freedom

In [385]:
d_f=n1+n2-2

In [386]:
d_f

28

In [387]:
# calculate the critical value
alpha=0.05
cv=stats.t.ppf(1-alpha,d_f)

In [388]:
cv

1.701130934265931

In [389]:
# calculate the p-value
p = (1 - stats.t.cdf(abs(t_stat), d_f)) * 2

In [391]:
p

0.25790848851891557

In [392]:
print('t=%.3f, d_f=%d, cv=%.3f, p=%.3f' % (t_stat, d_f, cv, p))

t=1.155, d_f=28, cv=1.701, p=0.258

In [393]:
if abs(t_stat) <= cv:
	print('Accept null hypothesis that the means are equal.')
else:
	print('Reject the null hypothesis that the means are equal.')
# interpret via p-value
if p > alpha:
	print('Accept null hypothesis that the means are equal.')
else:
	print('Reject the null hypothesis that the means are equal.')

Accept null hypothesis that the means are equal.
Accept null hypothesis that the means are equal.